
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Rainbow Marketing Email</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <style type="text/css">

body .emailclone {
		margin: auto;
		width: 800px;
		font-family: serif;
	}

	.emailclone #header {
		background-image: url(/assets/rainbow.jpg);
		background-size: cover;
		height: 500px;

	}
	.emailclone #header h1 {
		font-size: 2.8em;
	}

	.emailclone #header h3 {
		font-size: 1.5em;
	}

	.emailclone #button {
		margin-top: 180px;

	}

	.emailclone #button a:hover {
		background-color: white;
		transition-delay: 1s;
	}

	.emailclone #button a {
		border: 30px solid #c6c6c6;
		border-radius: 5%;
		background-color: #c6c6c6;
		text-decoration: none;
		color: white;
		font-size: 1.5em;
	}

	.emailclone #footer {
		background-color: #c6c6c6;
		height: 40px;
		margin-top: -16px;
	}
	
	.emailclone #footer p {
		padding-top: 10px;

	}

  </style>

</head>

<body>
<div class="emailclone">
	<div id="header">
		<div id="header_text">
			<h1>Rainbow Cleaning System</h1>
		</div>
		<div id="offer">
			<h3> We are offering a FREE demo <br> for the Rainbow System! </h3>	
		</div>
		<div id="button">
			<a href="#">Click here for the offer!</a>
		</div>
	</div>

		<div id="footer">
			<p>©Rainbow   MyIAQ 2017</p>
		</div>
	</div>
</body>
</html>
