<div class="googlebody"

<header>
  <div class="header_div">
    <nav class="nav">
      <ul>
        <li> <a class="gmail_link" href="https://mail.google.com/mail/u/0/?tab=wm#inbox">Gmail</a> </li>
        <li> <a class="images_link" href="https://www.google.com/imghp?hl=en&tab=wi&ei=ErokWae4NYqA0wLrtL3ACQ&ved=0EKouCBgoAQ">Images</a></li>
        <li> <a href="https://www.google.com/intl/en/about/products/"><%= image_tag("Googlemenu.png", :class => "apps") %></a> </li>
        <li>
          <a href="#"><%= image_tag("notification_bell.png", :class => "bell")%></a>
        </li>
        <li> <a href="https://accounts.google.com/SignOutOptions?hl=en&continue=https://www.google.com/" class="sign-in"> <%= image_tag("purple_panda.jpg", :class => "sign_in_logo") %></a></li>
      </ul>
    </nav>
  </div>
</header>
<content>
  <div>
	 <%= image_tag("googlelogo_color_272x92dp.png", :class => "google_icon")%>
  </div>
	 <input type="text" name="search" class="googleinput">
  <div class="buttons">
		<button class="google_search">Google Search</button>
		<button class="feeling_lucky"> I'm Feeling Lucky</button>
	</div>
  <div class="Syrian">
    <p>
      <a id="syrian_link" href="https://searchingforsyria.org/en/">Explore the Syrian refugee crisis,</a>
      in collaboration with the UN Refugee Agency
    </p>
  </div>
</content>
<footer>
	<div class="left_side">
    <a href="-">Advertising</a>
    <a href="-">Business</a>
    <a href="-">About</a>
  </div>
  <div class="right_side">
    <a href="-">Privacy and Terms</a>
    <a href="-">Terms</a>
    <a href="-">Settings</a>
  </div>
</footer>

</div>
