<div class ="homecover">
	<div class="container">
	<%= image_tag("starwarsclones.png", :class => "background") %>
	<h1>Jared Romney's HTML/CSS Clones</h1>
		<p>This is a small application that shows clones of some websites that was strictly HTML, and CSS. Feel free to click through the navbar to navigate to each page. </p>

		<p>Click here to return to</p> <br>
		<%= link_to "www.jaredromney.com", "http://www.jaredromney.com", :target => "_blank", :class => "homelink" %>
	</div>
</div>