<div class ="homecover">
	<div class="container">
	<h1>Clones</h1>
		<p>This is a small application that shows clones of some websites that was strictly HTML, and CSS. Feel free to click through the navbar to navigate to each page. </p>
	</div>
</div>