<div class="teslabody">
	    <%= image_tag("tesla_background.jpg", :class => "background") %>
	<header class="header">
		<div class="header_items">

				<div class="header_1">
					
					<a class="head" href="#"><%= image_tag("tesla_logo.gif", :class => "tesla_id") %></a>

				</div>

				<div class="header_2">
					
					<a class="head" href="#">MODEL S</a>
					
					<a class="head" href="#">MODEL X</a>
					
					<a class="head" href="#">MODEL 3</a>
					
					<a class="head" href="#">ENERGY</a>
				</div>

				<div class="header_3">
					
					<a class="head" href="#">CHARGING</a>
					
					<a class="head" href="#">UPDATES</a>
					
					<a class="head" href="#">SUPPORT</a>
					
					<a class="head" href="#">FIND US</a>
					
					<a class="head" href="#">SHOP</a>

					<a class="head" href="#">MY TESLA</a>
				</div>
				
		</div>
	</header>

	<content>

		<div class="middle">
			<p> Longest Range. Active Safety.<br>
			Quickest Production Car on Earth.
				
			</p>
		</div>

		<div class="buttons">
			<button>Order Yours</button>
			<button>New Inventory</button>
			<button>Test Drive</button>
			
		</div>

		<div id="news">
			<a href="#">GET THE NEWSLETTER ></a>
		</div>

	</content>

	<footer>
		<div>

			<ul>

				<li>
					<a href="#">Tesla © 2017
					</a>
				</li>
				<li><p>•</p></li>

				<li>
					<a href="#">Privacy & Legal
					</a>
				</li>
				<li><p>•</p></li>
				<li>
					<a href="#">Contact
					</a>
				</li>
				<li><p>•</p></li>
				<li>
					<a href="#">Careers
					</a>
				</li>
				<li><p>•</p></li>
				<li>
					<a href="#">Forums
					</a>
				</li>
				<li><p>•</p></li>
				<li>
					<a href="#">Locations
					</a>
				</li>
			<li><p>•</p></li>
				<li>
					<a href="#"><% image_tag("flag.png", :id => "flag") %>
					</a>
				</li>

			</ul>
		</div>
		
	</footer>
</div>
